<div class="row">
    <div class="col-12">
        <footer>
            <p class="copyright">&copy; Jacob Paulson</p>
            <div class="spacer"></div>
            <div class="profile">
                {% include resimg.html src="profile.jpg" %}
            </div>
            <div class="spacer"></div>
            <div class="nav-items">
                <p><a href="mailto:jacobepaulson@gmail.com">Email</a></p>
                <p><a href="https://soundcloud.com/jacob-paulson-1">Music</a></p>
            </div>
        </footer>
    </div>
</div>
