---
title: Sunglasses
year: 2013
description: Stained pine, brass hardware, floral cardstock.
---

<div class="row">
    <div class="col-12">{% include resimg.html src="sunglasses/closed.jpg" class="with-viewer" %}</div>
</div>
<div class="row multi">
    <div class="col-6">{% include resimg.html src="sunglasses/from-behind.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="sunglasses/half-open.jpg" class="with-viewer" %}</div>
</div>
<div class="row">
    <div class="col-12">{% include resimg.html src="sunglasses/table.jpg" class="with-viewer" %}</div>
</div>
