---
title: Bedside Table
year: 2016
description: Stained oak finished in linseed oil.
---

<div class="row">
    <div class="col-12">{% include resimg.html src="table/hardwood.jpg" class="with-viewer" %}</div>
</div>
<div class="row multi">
    <div class="col-6">{% include resimg.html src="table/attach-legs.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="table/attach-surface.jpg" class="with-viewer" %}</div>
</div>
<div class="row">
    <div class="col-12">{% include resimg.html src="table/out.jpg" class="with-viewer" %}</div>
</div>
