---
title: Accordion Wall Lamp
year: 2016
description: Restoration of 1950s vintage lamp. Pine base.
---

<div class="row">
    <div class="col-12">{% include resimg.html src="lamp/mounted.jpg" class="with-viewer" %}</div>
</div>
<div class="row">
    <div class="col-4">{% include resimg.html src="lamp/on-left.jpg" class="with-viewer" %}</div>
    <div class="col-4">{% include resimg.html src="lamp/on-front.jpg" class="with-viewer" %}</div>
    <div class="col-4">{% include resimg.html src="lamp/on-right.jpg" class="with-viewer" %}</div>
</div>
<div class="row">
    <div class="col-12">
        {% include resimg.html src="lamp/on-desk.jpg" class="with-viewer" %}
    </div>
</div>


