---
title: Knife Handle
year: 2016
description: White walnut, finished in linseed oil and lacquer.
---

<div class="row">
    <div class="col-12">{% include resimg.html src="knife/angle.jpg" class="with-viewer" %}</div>
</div>
<div class="row multi">
    <div class="col-6">{% include resimg.html src="knife/closed-vertical.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="knife/line-vertical.jpg" class="with-viewer" %}</div>
</div>
<div class="row">
    <div class="col-12">
        {% include resimg.html src="knife/closed.jpg" class="with-viewer" %}
    </div>
</div>
<div class="row multi">
    <div class="col-6">{% include resimg.html src="knife/details.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="knife/open.jpg" class="with-viewer" %}</div>
</div>
<div class="row">
    <div class="col-12">{% include resimg.html src="knife/parallel.jpg" class="with-viewer" %}</div>
</div>

