---
title: Desk
year: 2016
description: Walnut-stained pine. Cable organization cut-out on opposite side. Built to resemble Jeremiah Collection Mid Century Modern Laptop Desk.
---

<div class="row">
    <div class="col-12">{% include resimg.html src="desk/drawer.jpg" class="with-viewer" %}</div>
</div>
<div class="row">
    <div class="col-6">{% include resimg.html src="desk/surface-2.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="desk/surface.jpg" class="with-viewer" %}</div>
</div>
<div class="row">
    <div class="col-12">{% include resimg.html src="desk/wide.jpg" class="with-viewer" %}</div>
</div>
