---
title: Vaporizer
year: 2017
description: Jerusalem olivewood, plastic polymer, brass, and copper leaf.
---

<div class="row">
    <div class="col-12">{% include resimg.html src="vape/close.jpg" class="with-viewer" %}</div>
</div>
<div class="row">
    <div class="col-6">{% include resimg.html src="vape/details-2.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="vape/details.jpg" class="with-viewer" %}</div>
</div>
<div class="row">
    <div class="col-12">{% include resimg.html src="vape/wide-turned.jpg" class="with-viewer" %}</div>
</div>
<div class="row">
    <div class="col-6">{% include resimg.html src="vape/hand.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="vape/wide-2.jpg" class="with-viewer" %}</div>
</div>
<div class="row">
    <div class="col-12">{% include resimg.html src="vape/wide.jpg" class="with-viewer" %}</div>
</div>
