---
title: |
    Ladder Bookshelf &amp; Writing Desk
year: 2017
description: Sun-tanned poplar, walnut, and brass pins.
---

<div class="row">
    <div class="col-12">{% include resimg.html src="bookshelf/joint.jpg" class="with-viewer" %}</div>
</div>

<div class="row multi">
    <div class="col-4">{% include resimg.html src="bookshelf/drawer-level.jpg" class="with-viewer" %}</div>
    <div class="col-4">{% include resimg.html src="bookshelf/drawer-rear.jpg" class="with-viewer" %}</div>
    <div class="col-4">{% include resimg.html src="bookshelf/drawer-side.jpg" class="with-viewer" %}</div>
</div>

<div class="row multi">
    <div class="col-6">{% include resimg.html src="bookshelf/detail-front.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="bookshelf/detail-top.jpg" class="with-viewer" %}</div>
</div>

<div class="row">
    <div class="col-12">{% include resimg.html src="bookshelf/drawer-joint.jpg" class="with-viewer" %}</div>
</div>

<div class="row multi">
    <div class="col-6">{% include resimg.html src="bookshelf/drawer-bottom.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="bookshelf/drawer-open.jpg" class="with-viewer" %}</div>
</div>

<div class="row">
    <div class="col-12">{% include resimg.html src="bookshelf/full-vert.jpg" class="with-viewer" %}</div>
</div>

<div class="row multi">
    <div class="col-6">{% include resimg.html src="bookshelf/surface.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="bookshelf/drawer-top.jpg" class="with-viewer" %}</div>
</div>
