---
title: |
    Desk
year: 2018
description: |
    Walnut slab, steel
---

<div class="row multi">
    <div class="col-6">{% include resimg.html src="desk-2018/full.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="desk-2018/long.jpg" class="with-viewer" %}</div>
</div>

<div class="row multi">
    <div class="col-6">{% include resimg.html src="desk-2018/middle.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="desk-2018/end.jpg" class="with-viewer" %}</div>
</div>
