---
title: |
    Patio Table
year: 2019
description: |
    African Mahogany
---

<div class="row multi">
    <div class="col-6">{% include resimg.html src="patio-table/grain.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="patio-table/grain-join.jpg" class="with-viewer" %}</div>
</div>

<div class="row">
    <div class="col-12">{% include resimg.html src="patio-table/full-top.jpg" class="with-viewer" %}</div>
</div>

<div class="row multi">
    <div class="col-6">{% include resimg.html src="patio-table/full-straight.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="patio-table/full-angle.jpg" class="with-viewer" %}</div>
</div>

<div class="row multi">
    <div class="col-6">{% include resimg.html src="patio-table/corner-cloth.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="patio-table/weatherproofing.jpg" class="with-viewer" %}</div>
</div>

