---
title: |
    Keepsake Box
year: 2019
description: |
    Bolivian Rosewood, brass, magnetic latch
---

<div class="row">
    <div class="col-12">{% include resimg.html src="keepsake-box/closed.jpg" class="with-viewer" %}</div>
</div>

<div class="row multi">
    <div class="col-6">{% include resimg.html src="keepsake-box/open-contents.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="keepsake-box/open-empty.jpg" class="with-viewer" %}</div>
</div>

<div class="row">
    <div class="col-12">{% include resimg.html src="keepsake-box/hinges.jpg" class="with-viewer" %}</div>
</div>
