---
title: |
    Platform Bed Frame
year: 2020
description: |
    Maple and gold leaf
---

<div class="row">
    <div class="col-12">{% include resimg.html src="bed-frame/headboard-wide.jpg" class="with-viewer" %}</div>
</div>

<div class="row multi">
    <div class="col-6">{% include resimg.html src="bed-frame/headboard-detail.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="bed-frame/headboard.jpg" class="with-viewer" %}</div>
</div>

<div class="row">
    <div class="col-12">{% include resimg.html src="bed-frame/dark.jpg" class="with-viewer" %}</div>
</div>

<div class="row multi">
    <div class="col-6">{% include resimg.html src="bed-frame/joint-low.jpg" class="with-viewer" %}</div>
    <div class="col-6">{% include resimg.html src="bed-frame/joint.jpg" class="with-viewer" %}</div>
</div>

<div class="row">
    <div class="col-12">{% include resimg.html src="bed-frame/full.jpg" class="with-viewer" %}</div>
</div>
