// Font weights
$regular: 400;

$serif: 'EB Garamond', Georgia, serif;

h1, %h1, .h1 {
  font-size: 3rem;
}

h2, %h2 {
  font-size: 2rem;
}

h3, %h3 {
  font-size: 1.5rem;
}

h4, %h4 {
  font-size: 1rem;
}

h5, %h5 {
  font-size: 0.875rem;
}

h6, %h6 {
  font-size: 0.75rem;
}

p, .p {
  font-size: 1.2rem;
}

@media screen and (max-width: $tablet-landscape-max) {
  h1, %h1, .h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: $tablet-portrait-max) {
  h1, %h1, .h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $phone-portrait-max) {
  h1, %h1, .h1, h2, %h2 {
    font-size: 1rem;
  }
}
